*,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  list-style: none;
}
body {
  background: #fcfbff;
}
main {
  min-height: calc(100vh - 80px);
}
