header {
  width: 100%;
  height: 80px;
  background: #b286ff;
}

header a {
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
}

header > .wrap {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
}

header > .wrap > div {
  flex: 1;
  display: flex;
  justify-content: left;
  column-gap: 20px;
}
header > .wrap > div:last-child {
  margin-left: auto;
  display: flex;
}
header > .wrap > div:last-child > div > p > a {
  margin-left: 12px;
}
header > .wrap > div:last-child > div:first-child {
  margin-left: auto;
}

footer {
  height: 300px;
  background-color: #b286ff;
  color: white;
  padding: 56px 158px 56px 184px;
  margin-top: 40px;
}

.footer-team > p {
  font-weight: 500;
  font-size: 24px;
  color: white;
}

.footer-team > span {
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  margin-top: 20px;
}

.git-img {
  display: flex;
  align-items: center;
  height: 100%;
}
