main {
  width: 100%;
  height: 100vh;
  padding-top: 0 !important;
  display: flex;
}

.hidden {
  opacity: 0;
}

/* toggle 버튼 */
.toggleSwitch {
  width: 70px;
  height: 30px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton > p {
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggleSwitch .toggleButton {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #b286ff;
}

#toggle:checked ~ .toggleSwitch {
  background: #b286ff;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 40px);
  background: #fff;
}

#toggle:checked ~ .toggleSwitch .toggleButton > p {
  color: #b286ff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}

.changeUser {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  column-gap: 20px;
}
.changeUser > p {
  color: #aaa;
  font-size: 14px;
  border-bottom: 1px solid #aaa;
}

/* main */
main > section {
  width: 45%;
  height: 100%;
  background-color: #fcfbff;
}

main > section:last-child {
  width: 55%;
  background-color: #b286ff;
  position: relative;
}

main > section:first-child > .signupForm {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

main > section:first-child > .signupForm > .wrap {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

main > section:first-child > .signupForm > .wrap > h2 {
  text-align: center;
  font-size: 72px;
  color: #b286ff;
  margin-bottom: 40px;
}

main > section:first-child > .signupForm > .wrap > form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

main > section:first-child > .signupForm > .wrap > form > input {
  padding: 16px 20px;
  font-size: 24px;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  outline: none;
  transition: 100ms all;
  color: #666;
}
main > section:first-child > .signupForm > .wrap > form > input:active {
  filter: brightness(0.95);
}

main input::placeholder {
  color: #999;
}

main > section:first-child > .signupForm > .wrap > form > button {
  padding: 16px 20px;
  background-color: #b286ff;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
main > section:first-child > .signupForm > .wrap > form > button:active {
  filter: brightness(0.95);
}

main > section:first-child > .signupForm > .wrap > form > div {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  color: #666;
}

main > section:first-child > .signupForm > .wrap > form > div > a {
  color: #666;
}

main > section:last-child > img {
  width: 90%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms;
}
