.main-subject-section {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.Deadline {
  width: 160px;
  background-color: #f3ebff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  padding: 2px;
  color: #b286ff;
  text-align: center;
  margin-bottom: -4px;
}
.Information {
  padding-top: 60px;
}

.Information h1 {
  font-size: 48px;
  text-align: left;
  text-wrap: 700;
  margin: 10px 0px 30px 0px;
}

.subject-content {
  padding: 30px 50px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #f3ebff;
}

.subject-content h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 24px;
}

.content-data {
  margin: 0px 60px 20px 20px;
}

.content-data p {
  color: #666666;
  font-size: 20px;
  margin: 10px 0px;
}

.poster-title {
  margin-top: 50px;
  font-size: 32px;
}
.Information-img {
  width: 100%;
  aspect-ratio: 9/16;
  border-radius: 15px;
  background-color: #c0c0c0;
  overflow: hidden;
  margin-top: 24px;
  box-shadow: 0px 8px 32px #b286ff80;
}

.Information-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  padding: 16px 80px;
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  background: #b286ff;
  color: white;
  cursor: pointer;
  transition: all 75ms;
  display: block;
  margin: 80px auto 0 auto;
}
button:hover {
  filter: brightness(0.95);
}
button:active {
  filter: brightness(0.8);
}
