<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>학생 로그인</title>
    <link th:href="@{/css/static.css}" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <div class="left-panel">
        <div class="wrapper">
            <input type="checkbox" id="switch">
            <label for="switch" class="switch_label">
                <span class="onf_btn"></span>
            </label>
        <div>선생님이신가요?</div>
    </div>
      <div class="login-box">
        <h2>학생 로그인</h2>
        <input type="text" placeholder="아이디">
        <input type="password" placeholder="비밀번호">
        <div class="links">
          <a href="#">아이디 찾기</a> |
          <a href="#">아이디 찾기</a> |
          <a href="#">회원가입</a>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <img th:src="@{/images/student-login.png}" alt="학생 로그인 일러스트">
    </div>
  </div>
</body>
</html>
