<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <title layout:title-pattern="$CONTENT_TITLE - My Site">My Site</title>
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
  </head>
  <body>
    <header>
      <div class="wrap">
        <a th:href="@{/main}"><img th:src="@{/image/logo.png}" alt="logo" /></a>
        <div>
          <a href="#">학교 소개</a>
          <a href="#">교육 과정 소개</a>
          <div sec:authorize="hasRole('USER')">
            <a th:href="@{/student-detail}">나의 강의실</a>
          </div>
          <div sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/teacher-detail}">관리자 페이지</a>
          </div>
        </div>
        <div>
          <div th:if="${session.loginMember != null}">
            <p>
              <a href="#"
                ><span
                  th:text="${session.loginMember.username}"
                  style="color: #fff"
                ></span
                >님 반갑습니다!</a
              >
              <a th:href="@{/logout}">로그아웃</a>
            </p>
          </div>
          <div th:if="${session.loginMember == null}">
            <a th:href="@{/login}">로그인</a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div layout:fragment="content"></div>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer-team">
          <a href="#"><img th:src="@{/image/logo.png}" alt="logo" /></a
          ><br /><br /><br /><br />
          <p>
            팀 파이브가이즈 | 팀장: 박성수 팀원: 김대원, 김범진, 이강희, 장윤성
          </p>
          <span>Copyright 2025. pss214 All rights reserved.</span>
        </div>
        <div class="git-img">
          <a href="#"><img th:src="@{/image/github.png}" alt="logo" /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
