<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <script th:src="@{/js/login.js}" defer></script>
    <title>로그인</title>
  </head>
  <body>
    <main>
      <section class="textArea">
        <div class="changeUser">
          <div>
            <input type="checkbox" id="toggle" hidden />
            <label for="toggle" class="toggleSwitch">
              <span class="toggleButton"><p>S</p></span>
            </label>
          </div>
          <p>선생님 이신가요?</p>
        </div>

        <div class="loginForm">
          <div class="wrap">
            <h2>학생 로그인</h2>
            <p th:if="${error}" th:text="${error}" style="color:red;"></p>
            <form action="/student/login" method="post" th:object="${login}" name="frmSubmit">
              <input
                type="text"
                name="username"
                placeholder="아이디"
                required
              />
              <input
                type="password"
                name="password"
                placeholder="비밀번호"
                required
              />
              <button type="submit">로그인</button>
              <div>
                <a href="#">아이디 찾기</a>|<a href="#">비밀번호 찾기</a>|
                <a th:href="@{/signup}">회원가입</a>
              </div>
            </form>
          </div>
        </div>
      </section>

      <section class="imgArea">
        <img th:src="@{image/student.png}" alt="학생 회원가입 이미지" />
        <img
          th:src="@{image/teacher.png}"
          alt="선생님 회원가입 이미지"
          class="hidden"
        />
      </section>
    </main>
  </body>
</html>
