<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>학생정보페이지</title>
    <link th:href="@{/css/student_detail.css}" rel="stylesheet" />
  </head>
  <body layout:fragment="content" xmlns:th="http://www.thymeleaf.org">
    <div th:if="${subject}">
      <div class="main-studentdetail-section">
        <h1 th:text="${subject.subjectname}"></h1>
        <div class="img-Information-container">
          <div class="img-Information-container">
            <div class="student-img-card">
              <img th:src="${subject.thumbnail}" alt="수업 썸네일" />
            </div>
            <div class="Information-card">
              <h3>강좌 정보</h3>
              <p
                th:text="'● 교육기간: ' + ${subject.startDay} + ' ~ ' + ${subject.endDay}"
              ></p>
              <p
                th:text="'● 교육일정: ' + ${subject.startTime} + ' ~ ' + ${subject.endTime}"
              ></p>
              <p th:text="'● 모집인원: ' + ${subject.attend} + '명'"></p>
              <p th:text="'● 모집마감: ' + ${subject.endDay}"></p>
              <p th:text="'● 수강료: ' + ${subject.price} + '원'"></p>
            </div>
          </div>
        </div>
        <div class="subject-Progress">
          <h2>수업 진행률</h2>
          <div class="progress-card">
            <div class="progress-text">76%<span>(92/120)</span></div>
            <div class="progress-bar-wrapper">
              <div class="progress-bar-fill" th:style="'width: 76%'">
                <div class="bar-end"></div>
              </div>
            </div>
          </div>
        </div>
        <!--수업진행률-->
        <div class="subject-Attendance">
          <h2>출석률</h2>
          <div class="progress-card">
            <div class="progress-text">76%<span>(92/120)</span></div>
            <div class="progress-bar-wrapper">
              <div class="progress-bar-fill" th:style="'width: 76%'">
                <div class="bar-end"></div>
              </div>
            </div>
            <div class="Attendance-container">
              <div class="Attendance-type">
                출석<br />
                <div class="type-data">92</div>
              </div>
              <div class="Attendance-type">
                지각<br />
                <div class="type-data">00</div>
              </div>
              <div class="Attendance-type">
                조퇴<br />
                <div class="type-data">00</div>
              </div>
              <div class="Attendance-type">
                외출<br />
                <div class="type-data">00</div>
              </div>
              <div class="Attendance-type">
                결석<br />
                <div class="type-data">00</div>
              </div>
            </div>
          </div>
        </div>
        <!-- 출석률 -->
        <div class="subject-point">
          <h2>시험 점수</h2>
          <div class="subject-card">
            <div class="subject-data-title">
              <span class="top-left">과목</span>
              <span class="top-center">점수</span>
              <span class="top-right">등급</span>
            </div>
            <div class="subject-mid">
              <span class="title-left">중간평가</span>
              <span class="title-center">92/100</span>
              <span class="title-right">A</span>
            </div>
            <div class="subject-end">
              <span class="title-left">기말평가</span>
              <span class="title-center">32/100</span>
              <span class="title-right">E</span>
            </div>
          </div>
        </div>
        <!--시험점수-->
      </div>
    </div>
    <div
      id="error-message"
      th:if="${error}"
      th:text="${error}"
      style="display: none"
    ></div>
    <script defer>
      const errorElement = document.getElementById("error-message");
      if (errorElement) {
        alert(errorElement.textContent);
        window.location.replace("/main");
      }
    </script>
  </body>
</html>
