<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>과목페이지</title>
    <link th:href="@{/css/subjectPage.css}" rel="stylesheet" />
    <script th:src="@{/js/subjectPage.js}" defer></script>
  </head>
  <body>
    <div layout:fragment="content" xmlns:th="http://www.thymeleaf.org">
      <div class="main-subject-section">
        <div class="Information">
          <div class="Deadline" th:text="${subject.endDay}"></div>
          <h1 th:text="${subject.subjectname}"></h1>
          <div class="subject-content">
            <h2>강좌 정보</h2>
            <div class="content-data">
              <p
                th:text="'교육기간: ' + ${subject.startDay} + ' ~ ' + ${subject.endDay}"
              ></p>
              <p
                th:text="'교육일정: ' + ${subject.startTime} + '~' + ${subject.endTime}"
              ></p>
              <p th:text="'모집인원: ' + ${subject.attend} + '명'"></p>
              <p th:text="'강사명: ' + ${teacher.name}"></p>
              <p th:text="'수강료: ' + ${subject.price} + '원'"></p>
            </div>
          </div>
        </div>
        <h2 class="poster-title">강좌 포스터</h2>
        <div class="Information-img">
          <img th:src="${subject.poster}" alt="수업 포스터" />
        </div>
        <button class="submit-button">수강신청</button>
      </div>
    </div>
    <!-- thymeleaf -->
  </body>
</html>
